__pycache__
test_data/agent.state
test_data/data_dir/
test_data/afile.sha256
htmlcov/
.coverage
attic
.idea/
.local/
private
configs/.local_*
attic/data/dryrun_data/

# Ignore `coverage.xml` file in this directory.
/coverage.xml
