{
  "pipeline": "ReadsQC",
  "workflow": {
    "name": "ReadsQC",
    "input_fastq": {
      "shortRead": <%= shortRead %>,
      "interleaved": <%= interleaved %>,
      "fastqs": <%- JSON.stringify(input_fastqs) %>
    }
  },
  "inputDisplay": {
    "workflow": "ReadsQC",
      "input": {
      "Sequencing Platform": "<%= platform %>",
      <% if(platform === "Illumina") { %>"Is interleaved": <%= interleaved %>,<% } else { %><%} %>
      "fastqs": <%- JSON.stringify(input_fastqs_display) %>
    }
  }
}
