{
    "apps": [
      {
         "name": "server",
         "script" : "server.js",
         "instances": 4,
         "exec_mode": "cluster",
         "cwd": "<APP_HOME>/webapp/server",
         "node_args": "--max_old_space_size=1024",
         "max_memory_restart": "150M"
      },
      {
         "name": "cronserver",
         "script" : "cronserver.js",
         "cwd": "<APP_HOME>/webapp/server",
         "node_args": "--max_old_space_size=1024",
         "max_memory_restart": "150M"
      }
   ]
}
