{
  "metadata_submission": {
    "packageName":  <%- JSON.stringify(packageNames) %>,
    "addressForm": {
      "shipper": {
        "name": "",
        "email": "",
        "phone": "",
        "line1": "",
        "line2": "",
        "city": "",
        "state": "",
        "postalCode": "",
        "country": ""
      },
      "expectedShippingDate": "",
      "shippingConditions": "",
      "sample": "",
      "description": "",
      "experimentalGoals": "",
      "randomization": "",
      "usdaRegulated": true,
      "permitNumber": "",
      "biosafetyLevel": "",
      "irbOrHipaa": true,
      "comments": ""
    },
    "templates": <%- JSON.stringify(packageNames) %>,
    "studyForm": {
      "studyName": "<%= studyName %>",
      "piName": "",
      "piEmail": "<%= piEmail %>",
      "piOrcid": "",
      "fundingSources": [],
      "linkOutWebpage": [],
      "studyDate": "",
      "description": "",
      "notes": "",
      "contributors": [
        {
          "name": "",
          "orcid": "",
          "roles": [],
          "permissionLevel": ""
        }
      ],
      "alternativeNames": [],
      "GOLDStudyId": "",
      "NCBIBioProjectId": ""
    },
    "multiOmicsForm": {
      "award": "",
      "awardDois": [],
      "dataGenerated": true,
      "doe": true,
      "facilities": [],
      "facilityGenerated": true,
      "JGIStudyId": "",
      "mgCompatible": true,
      "mgInterleaved": true,
      "mtCompatible": true,
      "mtInterleaved": true,
      "omicsProcessingTypes": [],
      "otherAward": "",
      "ship": true,
      "studyNumber": "",
      "unknownDoi": true
    },
    "sampleData": {}
  },
  "status": "in-progress",
  "source_client": "nmdc_edge",
  "is_test_submission": false
}