<!DOCTYPE html>
<html>
<body>

<h4><%= proj_name %></h4>
<hr></hr>
<b>Description: </b><%= proj_desc %>
<br></br>
<b>Status: </b><%= proj_status %>
<br></br>
<b>Type: </b><%= proj_type %>
<br></br><br></br>
<%= proj_link %>

</body>
</html>