<!DOCTYPE html>
<html>
<body>

<h4>PROJECTNAME</h4>
<hr></hr>
<b>Description: </b>PROJECTDESC
<br></br>
<b>Status: </b>PROJECTSTATUS
<br></br>
<b>Type: </b>PROJECTTYPE
<br></br><br></br>
PROJECTLINK

</body>
</html>