    "main_workflow.<WORKFLOW>_file_paths": <FILE_PATHS>,
    "main_workflow.<WORKFLOW>_output_directory": <OUTDIR>,
    "main_workflow.<WORKFLOW>_output_type":"csv",
    "main_workflow.<WORKFLOW>_calibrate":true,
    "main_workflow.<WORKFLOW>_calibration_ref_file_path": "/expanse/projects/nmdc/refdata/enviroMS/SRFA.ref",
    "main_workflow.<WORKFLOW>_corems_json_path":"/expanse/projects/nmdc/refdata/enviroMS/CoremsFile.json",
    "main_workflow.<WORKFLOW>_polarity":"negative",
    "main_workflow.<WORKFLOW>_is_centroid":true,
    "main_workflow.<WORKFLOW>_raw_file_start_scan":1,
    "main_workflow.<WORKFLOW>_raw_file_final_scan":7,
    "main_workflow.<WORKFLOW>_plot_mz_error":true,
    "main_workflow.<WORKFLOW>_plot_ms_assigned_unassigned":true,
    "main_workflow.<WORKFLOW>_plot_c_dbe":true,
    "main_workflow.<WORKFLOW>_plot_van_krevelen":true,
    "main_workflow.<WORKFLOW>_plot_ms_classes":true,
    "main_workflow.<WORKFLOW>_plot_mz_error_classes":true
