{
    "main_workflow.file_paths": <%- JSON.stringify(file_paths) %>,
    "main_workflow.output_directory": "<%= outdir %>",
    "main_workflow.output_type": "csv",
    "main_workflow.calibrate": true,
    "main_workflow.calibration_ref_file_path": "<%= ref_data %>/enviroMS/SRFA.ref",
    "main_workflow.corems_json_path": "<%= ref_data %>/enviroMS/CoremsFile.json",
    "main_workflow.polarity": "negative",
    "main_workflow.is_centroid": true,
    "main_workflow.raw_file_start_scan": 1,
    "main_workflow.raw_file_final_scan": 7,
    "main_workflow.plot_mz_error": true,
    "main_workflow.plot_ms_assigned_unassigned": true,
    "main_workflow.plot_c_dbe": true,
    "main_workflow.plot_van_krevelen": true,
    "main_workflow.plot_ms_classes": true,
    "main_workflow.plot_mz_error_classes": true
}