{
  "fticrmsNOM.file_paths": <%- JSON.stringify(file_paths) %>,
  "fticrmsNOM.output_directory": "<%= outdir %>",
  "fticrmsNOM.output_type": "csv",
  "fticrmsNOM.calibrate": true,
  "fticrmsNOM.calibration_ref_file_path": "<%= ref_data %>/enviroMS/SRFA.ref",
  "fticrmsNOM.corems_json_path": "<%= ref_data %>/enviroMS/CoremsFile.json",
  "fticrmsNOM.polarity": "negative",
  "fticrmsNOM.is_centroid": true,
  "fticrmsNOM.raw_file_start_scan": 1,
  "fticrmsNOM.raw_file_final_scan": 7,
  "fticrmsNOM.plot_mz_error": true,
  "fticrmsNOM.plot_ms_assigned_unassigned": true,
  "fticrmsNOM.plot_c_dbe": true,
  "fticrmsNOM.plot_van_krevelen": true,
  "fticrmsNOM.plot_ms_classes": true,
  "fticrmsNOM.plot_mz_error_classes": true
}
