"main_workflow.<WORKFLOW>_min_score": <MIN_SCORE>,
"main_workflow.<WORKFLOW>_min_virus_hallmark": <MIN_VIRUS_HALLMARK>,
"main_workflow.<WORKFLOW>_min_plasmid_hallmark": <MIN_PLASMID_HALLMARK>,
"main_workflow.<WORKFLOW>_database": "/refdb/genomad_db",
"main_workflow.<WORKFLOW>_fasta": <FASTA> ,
"main_workflow.<WORKFLOW>_outdir": <OUTDIR>,
"main_workflow.<WORKFLOW>_cpu": 8
