String <WORKFLOW>_database
File <WORKFLOW>_fasta
Float? <WORKFLOW>_min_score
Int? <WORKFLOW>_min_virus_hallmark
Int? <WORKFLOW>_min_plasmid_hallmark
Int <WORKFLOW>_cpu
String <WORKFLOW>_outdir

call <WORKFLOW>.geNomad as <ALIAS> {
        input: 
        database=<WORKFLOW>_database,
        fasta=<WORKFLOW>_fasta,
        min_score=<WORKFLOW>_min_score,
        min_virus_hallmark=<WORKFLOW>_min_virus_hallmark,
        min_plasmid_hallmark=<WORKFLOW>_min_plasmid_hallmark,
        cpu=<WORKFLOW>_cpu,
        outdir=<WORKFLOW>_outdir
    }