    String <WORKFLOW>_proj
    File? <WORKFLOW>_input_file
    File? <WORKFLOW>_input_fq1
    File? <WORKFLOW>_input_fq2
    Boolean <WORKFLOW>_input_interleaved
    String <WORKFLOW>_git_url
    String <WORKFLOW>_url_root
    String <WORKFLOW>_outdir
    String <WORKFLOW>_resource
    String <WORKFLOW>_database
    String <WORKFLOW>_activity_id
    String <WORKFLOW>_informed_by
    Int <WORKFLOW>_threads
    File <WORKFLOW>_metat_folder

    call <WORKFLOW>.nmdc_metat as <ALIAS> {
        input: 
        proj=<WORKFLOW>_proj,
        input_file=<WORKFLOW>_input_file,
        input_interleaved=<WORKFLOW>_input_interleaved, 
        input_fq1=<WORKFLOW>_input_fq1, 
        input_fq2=<WORKFLOW>_input_fq2,
        git_url=<WORKFLOW>_git_url,
        url_root=<WORKFLOW>_url_root,
        outdir=<WORKFLOW>_outdir,
        resource=<WORKFLOW>_resource,
        database=<WORKFLOW>_database,
        activity_id=<WORKFLOW>_activity_id,
        informed_by=<WORKFLOW>_informed_by,
        threads=<WORKFLOW>_threads,
        metat_folder=<WORKFLOW>_metat_folder
    }
