
    "main_workflow.<WORKFLOW>_outdir":<OUTDIR>,
    "main_workflow.<WORKFLOW>_proj_name":<PROJ_NAME>,
    "main_workflow.<WORKFLOW>_contig_file":<CONTIG_FILE>,
    "main_workflow.<WORKFLOW>_sam_file":<SAM_FILE>,
    "main_workflow.<WORKFLOW>_gff_file":<GFF_FILE>,
    "main_workflow.<WORKFLOW>_map_file":<MAP_FILE>,
    "main_workflow.<WORKFLOW>_proteins_file":<PROTEINS_FILE>,
    "main_workflow.<WORKFLOW>_cog_file":<COG_FILE>,
    "main_workflow.<WORKFLOW>_ec_file":<EC_FILE>,
    "main_workflow.<WORKFLOW>_ko_file":<KO_FILE>,
    "main_workflow.<WORKFLOW>_pfam_file":<PFAM_FILE>,
    "main_workflow.<WORKFLOW>_tigrfam_file":<TIGRFAM_FILE>,
    "main_workflow.<WORKFLOW>_crispr_file":<CRISPR_FILE>,
    "main_workflow.<WORKFLOW>_product_names_file":<PRODUCT_NAMES_FILE>,
    "main_workflow.<WORKFLOW>_gene_phylogeny_file":<GENE_PHYLOGENY_FILE>,
    "main_workflow.<WORKFLOW>_lineage_file":<LINEAGE_FILE>,