{
    "main_workflow.outdir": "<%= outdir %>",
    "main_workflow.proj_name": "<%= project_name %>",
    "main_workflow.contig_file": "<%= input_contig %>", 
    "main_workflow.sam_file": "<%= input_sam %>",
    "main_workflow.gff_file": "<%= input_gff %>",
    "main_workflow.map_file": "<%= input_map %>",
    "main_workflow.proteins_file": "<%= input_proteins %>",
    "main_workflow.cog_file": "<%= input_cog %>",
    "main_workflow.ec_file": "<%= input_ec %>",
    "main_workflow.ko_file": "<%= input_ko %>",
    "main_workflow.pfam_file": "<%= input_pfam %>",
    "main_workflow.tigrfam_file": "<%= input_tigrfam %>",
    "main_workflow.cath_funfam_file": "<%= input_cath_funfam %>",
    "main_workflow.smart_file": "<%= input_smart %>",
    "main_workflow.supfam_file": "<%= input_supfam %>",
    "main_workflow.product_names_file": "<%= input_product_names %>",
    "main_workflow.gene_phylogeny_file": "<%= input_gene_phylogeny %>",
    "main_workflow.lineage_file": "<%= input_lineage %>",
    "main_workflow.domain_file": "<%= input_domain %>"
}