{
    "metapro.mapper_list": [
      {
          "raw_file_loc": "<%= input_raw %>",
          "faa_file_loc": "<%= input_fasta %>",
          "gff_file_loc": "<%= input_gff %>",
          "thermo_raw": <%= thermo_raw %>
      }
  ],
  "metapro.DATA_URL": "www.nothing.com",
  "metapro.MASIC_PARAM_FILE_LOC": "<%= ref_data %>/metapro_params/LTQ-FT_10ppm_2014-08-06.xml",
  "metapro.MSGFPLUS_PARAM_FILE_LOC": "<%= ref_data %>/metapro_params/MSGFPlus_Tryp_NoMods_20ppmParTol.txt",
  "metapro.CONTAMINANT_FILE_LOC": "<%= ref_data %>/metapro_params/Tryp_Pig_Bov.fasta",
  "metapro.QVALUE_THRESHOLD": "<%= qvalue_threshold %>",
  "metapro.STUDY": "<%= study %>",
  "metapro.EXECUTION_RESOURCE": "Expanse",
  "metapro.OUTDIR": "<%= outdir %>"
}
