    input {
        Array[Object] <WORKFLOW>_mapper_list
        String <WORKFLOW>_DAT_URL
        File <WORKFLOW>_MASIC_PARAM_FILE_LOC
        File <WORKFLOW>_MSGFPLUS_PARAM_FILE_LOC
        File <WORKFLOW>_CONTAMINANT_FILE_LOC
        Float <WORKFLOW>_QVALUE_THRESHOLD
        String <WORKFLOW>_STUDY
        String <WORKFLOW>_EXECUTION_RESOURCE
        String <WORKFLOW>_OUTDIR
    }

    call <WORKFLOW>.metapro as <ALIAS> {
        input: 
            mapper_list=<WORKFLOW>_mapper_list,
            DATA_URL=<WORKFLOW>_DAT_URL,
            MASIC_PARAM_FILE_LOC=<WORKFLOW>_MASIC_PARAM_FILE_LOC,
            MSGFPLUS_PARAM_FILE_LOC=<WORKFLOW>_MSGFPLUS_PARAM_FILE_LOC,
            CONTAMINANT_FILE_LOC=<WORKFLOW>_CONTAMINANT_FILE_LOC,
            QVALUE_THRESHOLD=<WORKFLOW>_QVALUE_THRESHOLD,
            STUDY=<WORKFLOW>_STUDY,
            EXECUTION_RESOURCE=<WORKFLOW>_EXECUTION_RESOURCE,
            OUTDIR=<WORKFLOW>_OUTDIR
    }
