{
  "jgi_metaASM.input_file": <%- JSON.stringify(input_files) %>,
  "jgi_metaASM.outdir": "<%= outdir %>",
  "jgi_metaASM.rename_contig_prefix": "<%= prefix %>",
  "jgi_metaASM.uniquekmer": 1000, 
  "jgi_metaASM.bbtools_container": "<%= bbtools_container %>",
  "jgi_metaASM.spades_container": "<%= spades_container %>",
  "jgi_metaASM.memory": "100g",
  "jgi_metaASM.threads": "4",
  "jgi_metaASM.input_interleaved": <%= interleaved %>, 
  "jgi_metaASM.input_fq1": <%- JSON.stringify(input_fq1) %>,
  "jgi_metaASM.input_fq2": <%- JSON.stringify(input_fq2) %>
}
