"metapro.mapper_list": [
    {
        "raw_file_loc":<RAW_FILE>,
        "faa_file_loc":<FAA_FILE>,
        "gff_file_loc":<GFF_FILE>,
        "thermo_raw":<THERMO_RAW>
    }
],
"metapro.DATA_URL":"www.nothing.com",
"metapro.MASIC_PARAM_FILE_LOC":"/expanse/projects/nmdc/refdata/metapro_params/LTQ-FT_10ppm_2014-08-06.xml",
"metapro.MSGFPLUS_PARAM_FILE_LOC":"/expanse/projects/nmdc/refdata/metapro_params/MSGFPlus_Tryp_NoMods_20ppmParTol.txt",
"metapro.CONTAMINANT_FILE_LOC":"/expanse/projects/nmdc/refdata/metapro_params/Tryp_Pig_Bov.fasta",
"metapro.QVALUE_THRESHOLD":"<QVALUE_THRESHOLD>",
"metapro.STUDY":<STUDY>,
"metapro.EXECUTION_RESOURCE":"Expanse",
"metapro.OUTDIR": <OUTDIR>
