    String? <WORKFLOW>_outdir
    String  <WORKFLOW>_proj
    String <WORKFLOW>_contig_file
    String <WORKFLOW>_sam_file
    String <WORKFLOW>_gff_file
    String <WORKFLOW>_proteins_file
    String <WORKFLOW>_cog_file
    String <WORKFLOW>_ec_file
    String <WORKFLOW>_ko_file
    String <WORKFLOW>_pfam_file
    String <WORKFLOW>_tigrfam_file
    String <WORKFLOW>_cath_funfam_file
    String <WORKFLOW>_smart_file
    String <WORKFLOW>_supfam_file
    String <WORKFLOW>_product_names_file
    String <WORKFLOW>_gene_phylogeny_file
    String <WORKFLOW>_lineage_file
    File? <WORKFLOW>_map_file
    String? <WORKFLOW>_domain_file
    Int <WORKFLOW>_cpu=16
    Int <WORKFLOW>_threads=1
    Int <WORKFLOW>_pthreads=1
    String <WORKFLOW>_gtdbtk_db="/refdata/GTDBTK_DB"
    String <WORKFLOW>_checkm_db="/refdata/CheckM_DB/checkm_data_2015_01_16"


    call <WORKFLOW>.nmdc_mags  as <ALIAS> {
        input: proj=<WORKFLOW>_proj, contig_file=<WORKFLOW>_contig_file,
        sam_file=<WORKFLOW>_sam_file, gff_file=<WORKFLOW>_gff_file, proteins_file=<WORKFLOW>_proteins_file,
        cog_file=<WORKFLOW>_cog_file,ec_file=<WORKFLOW>_ec_file,ko_file=<WORKFLOW>_ko_file,pfam_file=<WORKFLOW>_pfam_file,
        tigrfam_file=<WORKFLOW>_tigrfam_file,cath_funfam_file=<WORKFLOW>_cath_funfam_file,smart_file=<WORKFLOW>_smart_file,
        supfam_file=<WORKFLOW>_supfam_file,product_names_file=<WORKFLOW>_product_names_file,
        gene_phylogeny_file=<WORKFLOW>_gene_phylogeny_file,lineage_file=<WORKFLOW>_lineage_file,cpu=<WORKFLOW>_cpu,
        threads=<WORKFLOW>_threads,pthreads=<WORKFLOW>_pthreads,
        gtdbtk_db=<WORKFLOW>_gtdbtk_db, checkm_db=<WORKFLOW>_checkm_db, scratch_dir=<WORKFLOW>_outdir
    }

