    "main_workflow.<WORKFLOW>_input_files": <INPUT_FILE>,
    "main_workflow.<WORKFLOW>_prefix": <PREFIX>,
    "main_workflow.<WORKFLOW>_outdir": <OUTDIR>,
    "main_workflow.<WORKFLOW>_input_fq1":<INPUT_FQ1>,
    "main_workflow.<WORKFLOW>_input_fq2":<INPUT_FQ2>,
    "main_workflow.<WORKFLOW>_input_interleaved":<INTERLEAVED>
    "main_workflow.<WORKFLOW>_short_read":<SHORT_READ>
