{
    "main_workflow.proj": "<%= project_name %>",
    "main_workflow.input_file": "<%= input_file %>",
    "main_workflow.input_fq1": "<%= input_fq1 %>",
    "main_workflow.input_fq2": "<%= input_fq2 %>",
    "main_workflow.input_interleaved": <%= interleaved %>, 
    "main_workflow.git_url": "https://github.com/microbiomedata/mg_annotation/releases/tag/0.1",
    "main_workflow.url_root": "https://data.microbiomedata.org/data/",
    "main_workflow.outdir":  "<%= outdir %>",
    "main_workflow.resource": "NMDC-EDGE",
    "main_workflow.database": ""/expanse/projects/nmdc/refdata/",
    "main_workflow.activity_id": "<%= project_name %>",
    "main_workflow.informed_by": "<%= project_name %>",
    "main_workflow.threads": 64,
    "main_workflow.metat_folder": "/expanse/projects/nmdc/edge_app/test/metaT/"
}