    "main_workflow.<WORKFLOW>_input_file": <INPUT_FILE>,
    "main_workflow.<WORKFLOW>_imgap_project_id": <PROJID>,
    "main_workflow.<WORKFLOW>_outdir": <OUTDIR>,
    "main_workflow.<WORKFLOW>_opaver_web_path":<OPAVER_WEB_DIR>