{
   "main_workflow.input_files": <%- JSON.stringify(input_files) %>,
   "main_workflow.input_fq1": <%- JSON.stringify(input_fq1) %>,
   "main_workflow.input_fq2": <%- JSON.stringify(input_fq2) %>,
   "main_workflow.input_interleaved": <%= interleaved %>, 
   "main_workflow.DoReadsQC": <%= DoReadsQC %>, 
   "main_workflow.readsQC_outdir": "<%= readsQC_outdir %>",
   "main_workflow.DoReadbasedAnalysis": <%= DoReadbasedAnalysis %>, 
   "main_workflow.readbasedAnalysis_outdir": "<%= readbasedAnalysis_outdir %>",
   "main_workflow.readbasedAnalysis_prefix": "<%= prefix %>",
   "main_workflow.readbasedAnalysis_paired": true,
   "main_workflow.readbasedAnalysis_enabled_tools":{"gottcha2":true,"kraken2":true,"centrifuge":true},
   "main_workflow.DoMetaAssembly": <%= DoMetaAssembly %>, 
   "main_workflow.metaAssembly_rename_contig_prefix": "<%= prefix %>",
   "main_workflow.metaAssembly_outdir": "<%= metaAssembly_outdir %>",
   "main_workflow.DoVirusPlasmid": <%= DoVirusPlasmid %>, 
   "main_workflow.virusPlasmid_outdir": "<%= virusPlasmid_outdir %>",
   "main_workflow.DoAnnotation": <%= DoAnnotation %>, 
   "main_workflow.metaAnnotation_outdir": "<%= metaAnnotation_outdir %>",
   "main_workflow.metaAnnotation_imgap_project_id": "<%= prefix %>",
   "main_workflow.DoMetaMAGs": <%= DoMetaMAGs %>, 
   "main_workflow.metaMAGs_outdir": "<%= metaMAGs_outdir %>",
   "main_workflow.metaMAGs_proj": "<%= prefix %>",
   "main_workflow.metaMAGs_map_file": "<%= input_map %>",
   "main_workflow.metaMAGs_domain_file": "<%= input_domain %>"
}