{
  "main_workflow.MetaAnnotation_input_file": "<%= input_fasta %>", 
  "main_workflow.MetaAnnotation_imgap_project_id": "<%= project_name %>",
  "main_workflow.MetaAnnotation_additional_threads": 42, 
  "main_workflow.MetaAnnotation_database_location": "<%= ref_data %>/img",
  "main_workflow.MetaAnnotation_outdir": "<%= outdir %>"
}
