{
  "nmdc_metat.proj": "<%= project_name %>",
  "nmdc_metat.input_file": "<%= input_file %>",
  "nmdc_metat.input_interleaved": <%= interleaved %>, 
  "nmdc_metat.input_fq1": "<%= input_fq1 %>",
  "nmdc_metat.input_fq2": "<%= input_fq2 %>",
  "nmdc_metat.git_url": "https://github.com/microbiomedata/mg_annotation/releases/tag/0.1",
  "nmdc_metat.url_root": "https://data.microbiomedata.org/data/",
  "nmdc_metat.outdir":  "<%= outdir %>",
  "nmdc_metat.resource": "NMDC-EDGE",
  "nmdc_metat.database": "<%= ref_data %>",
  "nmdc_metat.activity_id": "<%= project_name %>",
  "nmdc_metat.informed_by": "<%= project_name %>",
  "nmdc_metat.threads": 64,
  "nmdc_metat.metat_folder": "/expanse/projects/nmdc/edge_app/test/metaT/"
}
