   "main_workflow.input_files":<INPUT_FILES>,
   "main_workflow.input_fq1":<INPUT_FQ1>,
   "main_workflow.input_fq2":<INPUT_FQ2>,
   "main_workflow.input_interleaved":<INTERLEAVED>,
   "main_workflow.readsQC_outdir":<READSQC_OUTDIR>,
   "main_workflow.readbasedAnalysis_outdir":<READBASEDANALYSIS_OUTDIR>,
   "main_workflow.readbasedAnalysis_prefix":<PREFIX>,
   "main_workflow.readbasedAnalysis_paired":false,
   "main_workflow.readbasedAnalysis_enabled_tools":<RBA_ENABLED_TOOLS>,
   "main_workflow.metaAssembly_rename_contig_prefix":<PREFIX>,
   "main_workflow.metaAssembly_outdir":<METAASSEMBLY_OUTDIR>,
   "main_workflow.virusPlasmid_outdir":<VIRUSPLASMID_OUTDIR>,
   "main_workflow.metaAnnotation_outdir":<METAANNOTATION_OUTDIR>,
   "main_workflow.metaAnnotation_imgap_project_id":<PREFIX>,
   "main_workflow.metaAnnotation_opaver_web_path":<OPAVER_WEB_DIR>,
   "main_workflow.metaMAGs_outdir":<METAMAGS_OUTDIR>,
   "main_workflow.metaMAGs_proj":<PREFIX>,
   "main_workflow.metaMAGs_map_file":<METAMAGS_MAP_FILE>,
   "main_workflow.metaMAGs_domain_file":<METAMAGS_DOMAIN_FILE>