{
    "main_workflow.mapper_list": [
        {
            "raw_file_loc": "<%= input_raw %>",
            "faa_file_loc": "<%= input_fasta %>",
            "gff_file_loc": "<%= input_gff %>",
            "thermo_raw": <%= thermo_raw %>
        }
    ],
    "main_workflow.DATA_URL": "www.nothing.com",
    "main_workflow.MASIC_PARAM_FILE_LOC": "<%= ref_data %>/main_workflow_params/LTQ-FT_10ppm_2014-08-06.xml",
    "main_workflow.MSGFPLUS_PARAM_FILE_LOC": "<%= ref_data %>/main_workflow_params/MSGFPlus_Tryp_NoMods_20ppmParTol.txt",
    "main_workflow.CONTAMINANT_FILE_LOC": "<%= ref_data %>/main_workflow_params/Tryp_Pig_Bov.fasta",
    "main_workflow.QVALUE_THRESHOLD": "<%= qvalue_threshold %>",
    "main_workflow.STUDY": "<%= study %>",
    "main_workflow.EXECUTION_RESOURCE": "Expanse",
    "main_workflow.OUTDIR": "<%= outdir %>"
}