    String? <WORKFLOW>_outdir
    String  <WORKFLOW>_proj_name
    String <WORKFLOW>_contig_file
    String <WORKFLOW>_sam_file
    String <WORKFLOW>_gff_file
    String <WORKFLOW>_proteins_file
    String <WORKFLOW>_cog_file
    String <WORKFLOW>_ec_file
    String <WORKFLOW>_ko_file
    String <WORKFLOW>_pfam_file
    String <WORKFLOW>_tigrfam_file
    String <WORKFLOW>_crispr_file
    String <WORKFLOW>_product_names_file
    String <WORKFLOW>_gene_phylogeny_file
    String <WORKFLOW>_lineage_file
    File? <WORKFLOW>_map_file
    Int <WORKFLOW>_cpu=16
    Int <WORKFLOW>_threads=1
    Int <WORKFLOW>_pthreads=1
    String <WORKFLOW>_gtdbtk_db="/refdata/GTDBTK_DB/gtdbtk_release207_v2"
    String <WORKFLOW>_checkm_db="/refdata/CheckM_DB/checkm_data_2015_01_16"
    String <WORKFLOW>_eukcc2_db="/refdata/eukcc2_db_ver_1.2"
    String metaMAGsVis_container = "microbiomedata/nmdc_mbin_vis:0.7.0"


    call <WORKFLOW>.nmdc_mags  as <ALIAS> {
        input: proj=<WORKFLOW>_proj_name, contig_file=<WORKFLOW>_contig_file,
        sam_file=<WORKFLOW>_sam_file, gff_file=<WORKFLOW>_gff_file, proteins_file=<WORKFLOW>_proteins_file,
        cog_file=<WORKFLOW>_cog_file,ec_file=<WORKFLOW>_ec_file,ko_file=<WORKFLOW>_ko_file,pfam_file=<WORKFLOW>_pfam_file,
        tigrfam_file=<WORKFLOW>_tigrfam_file,crispr_file=<WORKFLOW>_crispr_file,product_names_file=<WORKFLOW>_product_names_file,
        gene_phylogeny_file=<WORKFLOW>_gene_phylogeny_file,lineage_file=<WORKFLOW>_lineage_file,
        cpu=<WORKFLOW>_cpu, threads=<WORKFLOW>_threads,pthreads=<WORKFLOW>_pthreads,
        gtdbtk_db=<WORKFLOW>_gtdbtk_db, checkm_db=<WORKFLOW>_checkm_db, scratch_dir=<WORKFLOW>_outdir,
        eukcc2_db=<WORKFLOW>_eukcc2_db
    }

    call mbin_nmdc_output.pdf_to_png as metaMAGs_vis {
		input:
			outdir = <WORKFLOW>_outdir,
    		container = metaMAGsVis_container,
    		pdf_files = [<ALIAS>.barplot,<ALIAS>.heatmap]
	}

    output {
        File final_hqmq_bins_zip = <ALIAS>.final_hqmq_bins_zip
        File final_lq_bins_zip = <ALIAS>.final_lq_bins_zip
        File final_gtdbtk_bac_summary = <ALIAS>.final_gtdbtk_bac_summary
        File final_gtdbtk_ar_summary = <ALIAS>.final_gtdbtk_ar_summary
        File short = <ALIAS>.short
        File low = <ALIAS>.low
        File final_unbinned_fa  = <ALIAS>.final_unbinned_fa
        File final_checkm = <ALIAS>.final_checkm
        File mags_version = <ALIAS>.mags_version
        File final_stats_json = <ALIAS>.final_stats_json
        File barplot = <ALIAS>.barplot
        File heatmap = <ALIAS>.heatmap
        File kronaplot = <ALIAS>.kronaplot
    }

