    "main_workflow.<WORKFLOW>_reads":  <READS>,
    "main_workflow.<WORKFLOW>_paired": <PAIRED>,
    "main_workflow.<WORKFLOW>_short_read":<SHORT_READ>,
    "main_workflow.<WORKFLOW>_prefix": <PREFIX>,
    "main_workflow.<WORKFLOW>_outdir": <OUTDIR>