Array[File] ReadsQC_input_files
String? ReadsQC_outdir
String ReadsQC_database="/refdata"
Boolean ReadsQC_input_interleaved=true
Array[File] ReadsQC_input_fq1
Array[File] ReadsQC_input_fq2
String? proj

call readsqc_preprocess.readsqc_preprocess as readsqc_preprocess {
    input:
        input_files=ReadsQC_input_files,
        outdir=ReadsQC_outdir,
        input_interleaved=ReadsQC_input_interleaved,
        input_fq1=ReadsQC_input_fq1,
        input_fq2=ReadsQC_input_fq2
}
scatter (file in select_first([readsqc_preprocess.input_files_gz, [""]])) {

    call ReadsQC.nmdc_rqcfilter  as nmdc_rqcfilter {
        input:
            input_files=file,
            database=ReadsQC_database,
            proj=proj,
   }

}
call ReadsQC_output.readsqc_output as readsqc_output {
    input:
        input_files=nmdc_rqcfilter.filtered_final,
        outdir=ReadsQC_outdir
    }
