{
  "jgi_rqcfilter.input_files": <%- JSON.stringify(input_files) %>,
  "jgi_rqcfilter.outdir": "<%= outdir %>",
  "jgi_rqcfilter.bbtools_container": "<%= bbtools_container %>",
  "jgi_rqcfilter.database": "/refdata",
  "jgi_rqcfilter.memory": "60g",
  "jgi_rqcfilter.threads": "4", 
  "jgi_rqcfilter.input_interleaved": <%= interleaved %>, 
  "jgi_rqcfilter.input_fq1": <%- JSON.stringify(input_fq1) %>,
  "jgi_rqcfilter.input_fq2": <%- JSON.stringify(input_fq2) %>
}
