{
  "ReadbasedAnalysis.enabled_tools": <%- JSON.stringify(enabled_tools) %>,
  "ReadbasedAnalysis.reads": <%- JSON.stringify(reads) %>,
  "ReadbasedAnalysis.cpu": 4, 
  "ReadbasedAnalysis.prefix": "<%= prefix %>",
  "ReadbasedAnalysis.outdir": "<%= outdir %>", 
  "ReadbasedAnalysis.paired": <%= paired %>
}
