{
    "main_workflow.input_files": <%- JSON.stringify(input_files) %>,
    "main_workflow.outdir": "<%= outdir %>",
    "main_workflow.prefix": "<%= prefix %>",
    "main_workflow.input_fq1": <%- JSON.stringify(input_fq1) %>,
    "main_workflow.input_fq2": <%- JSON.stringify(input_fq2) %>,
    "main_workflow.input_interleaved": <%= interleaved %>
}