    "main_workflow.<WORKFLOW>_enabled_tools": <ENABLED_TOOLS>,
    "main_workflow.<WORKFLOW>_reads": <READS>,
    "main_workflow.<WORKFLOW>_paired": <PAIRED>,
    "main_workflow.<WORKFLOW>_prefix": <PREFIX>,
    "main_workflow.<WORKFLOW>_outdir": <OUTDIR>