    Array[File] <WORKFLOW>_input_files
    String? <WORKFLOW>_outdir
    String <WORKFLOW>_bbtools_container="microbiomedata/bbtools:38.92"
    String <WORKFLOW>_database="/refdata"
    String <WORKFLOW>_memory="60g"
    String <WORKFLOW>_threads="4"
    Boolean <WORKFLOW>_input_interleaved=true
    Array[File] <WORKFLOW>_input_fq1
    Array[File] <WORKFLOW>_input_fq2

    call <WORKFLOW>.jgi_rqcfilter  as <ALIAS> {
        input: 
		input_files=<WORKFLOW>_input_files, 
		outdir=<WORKFLOW>_outdir, 
		bbtools_container=<WORKFLOW>_bbtools_container, 
		database=<WORKFLOW>_database, 
		memory=<WORKFLOW>_memory, 
		threads=<WORKFLOW>_threads, 
		input_interleaved=<WORKFLOW>_input_interleaved, 
		input_fq1=<WORKFLOW>_input_fq1, 
		input_fq2=<WORKFLOW>_input_fq2
    }
