version <VERSION>
import "<WDL_IMPORT>" as <WORKFLOW>

workflow main_workflow {
    input {
        Array[String] <WORKFLOW>_accessions
        Boolean <WORKFLOW>_clean=true
        String <WORKFLOW>_OUTDIR
    }

    call <WORKFLOW>.sra as <ALIAS> {
        input: 
        accessions=<WORKFLOW>_accessions,
        clean=<WORKFLOW>_clean,
        outdir=<WORKFLOW>_OUTDIR
    }
}