"main_workflow.<WORKFLOW>_min_score": <MIN_SCORE>,
"main_workflow.<WORKFLOW>_min_virus_hallmark": <MIN_VIRUS_HALLMARK>,
"main_workflow.<WORKFLOW>_min_plasmid_hallmark": <MIN_PLASMID_HALLMARK>,
"main_workflow.<WORKFLOW>_database": "/refdata",
"main_workflow.<WORKFLOW>_fasta": <FASTA>,
"main_workflow.<WORKFLOW>_proj_name": <PROJ_NAME>,
"main_workflow.<WORKFLOW>_option": <OPTION>,
"main_workflow.<WORKFLOW>_min_plasmid_hallmarks_short_seqs": <MIN_PLASMID_HALLMARK_SHORT_SEQS>,
"main_workflow.<WORKFLOW>_min_virus_hallmarks_short_seqs": <MIN_VIRUS_HALLMARK_SHORT_SEQS>,
"main_workflow.<WORKFLOW>_min_plasmid_marker_enrichment": <MIN_PLASMID_MARKER_ENRICHMENT>,
"main_workflow.<WORKFLOW>_min_virus_marker_enrichment": <MIN_VIRUS_MARKER_ENRICHMENT>,
"main_workflow.<WORKFLOW>_max_uscg": <MAX_USCG>,
"main_workflow.<WORKFLOW>_score_calibration": <SCORE_CALIBRATION>,
"main_workflow.<WORKFLOW>_fdr": <FDR>,
"main_workflow.<WORKFLOW>_outdir": <OUTDIR>,
"main_workflow.<WORKFLOW>_cpu": 8
