{
  "main_workflow.min_score": <%= min_score %>,
  "main_workflow.min_virus_hallmark": <%= min_virus_hallmark %>,
  "main_workflow.min_plasmid_hallmark": <%= min_plasmid_hallmark %>,
  "main_workflow.database": "/refdata",
  "main_workflow.fasta": "<%= input_fasta %>",
  "main_workflow.option": <%- JSON.stringify(option) %>,
  "main_workflow.min_plasmid_hallmarks_short_seqs": <%= min_plasmid_hallmarks_short_seqs %>,
  "main_workflow.min_virus_hallmarks_short_seqs": <%= min_virus_hallmarks_short_seqs %>,
  "main_workflow.min_plasmid_marker_enrichment": <%= min_plasmid_marker_enrichment %>,
  "main_workflow.min_virus_marker_enrichment": <%= min_virus_marker_enrichment %>,
  "main_workflow.max_uscg": <%= max_uscg %>,
  "main_workflow.score_calibration": <%= score_calibration %>,
  "main_workflow.fdr": <%= fdr %>,
  "main_workflow.outdir": "<%= outdir %>",
  "main_workflow.cpu": 8
}