{
  "viral.database": "/refdata",
  "viral.fasta": "<%= input_fasta %>",
  "viral.min_score": <%= min_score %>,
  "viral.min_virus_hallmark": <%= min_virus_hallmark %>,
  "viral.min_plasmid_hallmark": <%= min_plasmid_hallmark %>,
  "viral.cpu": 8,
  "viral.option": <%- JSON.stringify(option) %>,
  "viral.min_plasmid_hallmarks_short_seqs": <%= min_plasmid_hallmarks_short_seqs %>,
  "viral.min_virus_hallmarks_short_seqs": <%= min_virus_hallmarks_short_seqs %>,
  "viral.min_plasmid_marker_enrichment": <%= min_plasmid_marker_enrichment %>,
  "viral.min_virus_marker_enrichment": <%= min_virus_marker_enrichment %>,
  "viral.max_uscg": <%= max_uscg %>,
  "viral.score_calibration": <%= score_calibration %>,
  "viral.fdr": <%= fdr %>,
  "viral.outdir": "<%= outdir %>"
}
